In [1]:
import pandas as pd

In [2]:
# Read in the data
file = 'Resources/Opioid_EMS_Calls.csv'

# Load the csv file into a pandas dataframe
opioid_df = pd.read_csv(file)
opioid_df.head()

,X,Y,OBJECTID,Incident_Date,Weekday,Weekday_Sort,Month,Month_Sort,Year,Opioid_Use,...,Age,Patient_Gender,Patient_ASU,Patient_Veteran,Patient_Homeless,Latitude_Random,Longitude_Random,Spec_Pop,Notes,Time_of_Day
0,-111.8904,33.4196,1,2017/01/03 00:00:00+00,Tuesday,(3) Tuesday,January,(01) January,2017,Yes,...,40 to 44,Female,No,No,No,33.4196,-111.8904,None,None,Morning
1,-111.9505,33.4127,2,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Unknown,...,40 to 44,Male,No,No,No,33.4127,-111.9505,None,None,Overnight
2,-111.9249,33.3971,3,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Yes,...,20 to 24,Male,No,No,Yes,33.3971,-111.9249,Homeless,None,Overnight
3,-111.9334,33.4297,4,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Yes,...,20 to 24,Male,No,No,Yes,33.4297,-111.9334,Homeless,None,Morning
4,-111.9014,33.3681,5,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Yes,...,70 to 74,Male,No,No,No,33.3681,-111.9014,None,None,Afternoon

In [3]:
# Create a list of the columns
opioid_df.columns

Index(['X', 'Y', 'OBJECTID', 'Incident_Date', 'Weekday', 'Weekday_Sort',
       'Month', 'Month_Sort', 'Year', 'Opioid_Use', 'Narcan_Given', 'Age',
       'Patient_Gender', 'Patient_ASU', 'Patient_Veteran', 'Patient_Homeless',
       'Latitude_Random', 'Longitude_Random', 'Spec_Pop', 'Notes',
       'Time_of_Day'],
      dtype='object')

In [4]:
# Drop the Spec_Pop column
opioid_df = opioid_df.drop(columns=['Spec_Pop'])
opioid_df.head()

,X,Y,OBJECTID,Incident_Date,Weekday,Weekday_Sort,Month,Month_Sort,Year,Opioid_Use,Narcan_Given,Age,Patient_Gender,Patient_ASU,Patient_Veteran,Patient_Homeless,Latitude_Random,Longitude_Random,Notes,Time_of_Day
0,-111.8904,33.4196,1,2017/01/03 00:00:00+00,Tuesday,(3) Tuesday,January,(01) January,2017,Yes,NaN,40 to 44,Female,No,No,No,33.4196,-111.8904,None,Morning
1,-111.9505,33.4127,2,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Unknown,Yes,40 to 44,Male,No,No,No,33.4127,-111.9505,None,Overnight
2,-111.9249,33.3971,3,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Yes,NaN,20 to 24,Male,No,No,Yes,33.3971,-111.9249,None,Overnight
3,-111.9334,33.4297,4,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Yes,NaN,20 to 24,Male,No,No,Yes,33.4297,-111.9334,None,Morning
4,-111.9014,33.3681,5,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Yes,NaN,70 to 74,Male,No,No,No,33.3681,-111.9014,None,Afternoon

In [5]:
# Create a new column for spec_pop based on the values in the ASU, Homeless, and Veteran columns
opioid_df['Spec_Pop'] = ''

# Loop through the rows and assign the appropriate value to the spec_pop column
spec_pop = []
for i, row in opioid_df.iterrows():
    if row['Patient_ASU'] == 'Yes' and row['Patient_Homeless'] != 'Yes' and row['Patient_Veteran'] != 'Yes':
        spec_pop.append('ASU Student')
    elif row['Patient_Homeless'] == 'Yes' and row['Patient_Veteran'] != 'Yes' and row['Patient_ASU'] != 'Yes':
        spec_pop.append('Homeless')
    elif row['Patient_Veteran'] == 'Yes' and row['Patient_Homeless'] != 'Yes' and row['Patient_ASU'] != 'Yes':
        spec_pop.append('Veteran')
    elif row['Patient_Homeless'] == 'Yes' and row['Patient_Veteran'] == 'Yes' and row['Patient_ASU'] != 'Yes':
        spec_pop.append('Veteran/Homeless')
    else :
        spec_pop.append('Other/Unknown')

In [6]:
# Assign the list of values to the spec_pop column
opioid_df['Spec_Pop'] = spec_pop
opioid_df

,X,Y,OBJECTID,Incident_Date,Weekday,Weekday_Sort,Month,Month_Sort,Year,Opioid_Use,...,Age,Patient_Gender,Patient_ASU,Patient_Veteran,Patient_Homeless,Latitude_Random,Longitude_Random,Notes,Time_of_Day,Spec_Pop
0,-111.8904,33.4196,1,2017/01/03 00:00:00+00,Tuesday,(3) Tuesday,January,(01) January,2017,Yes,...,40 to 44,Female,No,No,No,33.4196,-111.8904,None,Morning,Other/Unknown
1,-111.9505,33.4127,2,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Unknown,...,40 to 44,Male,No,No,No,33.4127,-111.9505,None,Overnight,Other/Unknown
2,-111.9249,33.3971,3,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Yes,...,20 to 24,Male,No,No,Yes,33.3971,-111.9249,None,Overnight,Homeless
3,-111.9334,33.4297,4,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Yes,...,20 to 24,Male,No,No,Yes,33.4297,-111.9334,None,Morning,Homeless
4,-111.9014,33.3681,5,2017/01/09 00:00:00+00,Monday,(2) Monday,January,(01) January,2017,Yes,...,70 to 74,Male,No,No,No,33.3681,-111.9014,None,Afternoon,Other/Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2738,-111.9570,33.3800,2740,2023/01/01 07:00:00+00,Sunday,(1) Sunday,January,(01) January,2023,Yes,...,40 to 44,Male,Unknown,Unknown,Unknown,33.3800,-111.9570,NaN,Afternoon,Other/Unknown
2739,-111.9290,33.3240,2741,2023/01/03 07:00:00+00,Tuesday,(3) Tuesday,January,(01) January,2023,Yes,...,15 to 19,Male,No,No,No,33.3240,-111.9290,NaN,Evening,Other/Unknown
2740,-111.9250,33.4480,2742,2023/01/05 07:00:00+00,Thursday,(5) Thursday,January,(01) January,2023,Yes,...,15 to 19,Male,No,No,No,33.4480,-111.9250,NaN,Evening,Other/Unknown
2741,-111.9340,33.4000,2743,2023/01/07 07:00:00+00,Saturday,(7) Saturday,January,(01) January,2023,Yes,...,50 to 54,Male,No,No,No,33.4000,-111.9340,NaN,Morning,Other/Unknown
2742,-111.9540,33.4100,2744,2023/01/09 07:00:00+00,Monday,(2) Monday,January,(01) January,2023,Yes,...,20 to 24,Male,Unknown,Unknown,Unknown,33.4100,-111.9540,NaN,Overnight,Other/Unknown

In [7]:
# Check the values in the spec_pop column
opioid_clean_df = opioid_df[['Patient_ASU', 'Patient_Homeless', 'Patient_Veteran', 'Spec_Pop']]

In [8]:
# Export the dataframe to a .csv file in Resources
# Export without the headers for the sqlite import format
pd.DataFrame.to_csv(opioid_df, 'Resources/opioid_ems_calls_cleaned.csv', header=False, index=False)